* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
}

:root {
    --bg-color: #798777;
    --text-color: #000000;
    --main-color: #000000;
    --other-color: #727272;
    --h1-font: 4.7rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.navlist {
    list-style: none;
    display: flex;
    padding: 10px;
}

.navlist li {
    margin-right: 15px;
}

.navlist li a {
    text-decoration: none;
    color: #000000;
    font-weight: 200;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color .55s ease;
}

.navlist li a:hover {
    background-color: rgba(85, 85, 85, 0.5);
}

.logo img {
    width: 100%;
    height: auto;
}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.h-right a:hover {
    background-color: #ddd;
}

#menu-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

section {
    padding: 0 12%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    gap: 30px;
    overflow-x: hidden;
}

.home-img img {
    width: 100%;
    height: auto;
}

.home-text span {
    padding: 11px 18px;
    background: #AFC8AD;
    border-radius: 10px;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.home-text h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 1.3;
    margin: 22px 0;
}

.home-text p {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 35px;
}

.home-text i {
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: #AFC8AD;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 12px;
    margin-right: 18px;
    margin-bottom: 50px;
    transition: all ease .55s;
}

.home-text i:hover {
    background: #AFC8AD;
    color: var(--main-color);
    transform: scale(1.09);
}

.btn,
.btn22 {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: all ease .55s;
}

.btn {
    padding: 15px 22px;
    color: #AFC8AD;
    background: var(--other-color);
    border-radius: 25px;
    border: 1px solid transparent;
}

.btn22 {
    color: var(--other-color);
    margin-left: 25px;
}

.btn:hover {
    border: 1px solid var(--other-color);
    background: transparent;
    color: var(--other-color);
}

.btn22:hover {
    color: var(--text-color);
}

.slider {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px; 
    padding: 30px; 
}

.slider div {
    text-align: center;
    padding: 30px;
}

.slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.slick-prev,
.slick-next {
    font-size: 25px;
    color: #fff;
    background: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}




footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left h3,
  .footer-right h3 {
    margin-bottom: 10px;
  }
  
  .footer-left p,
  .footer-right .social-icons a img {
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: #fff;
  }

  .social-icons a i {
    font-size: 24px; 
}
  
  .social-icons a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  



@media (max-width: 768px) {
    .navlist {
        flex-direction: column;
        align-items: center;
    }

    .navlist li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .h-right {
        margin-top: 10px;
    }
}

@media (max-width: 1820px){
    header{
        padding: 15px 7%;
    }
    section{
        padding: 0 7%;
    }
}

@media (max-width: 1610px){
    :root{
        --h1-font: 4.2rem;
    }
    .home-img{
        height: 600px;
        width: 600px;
    }
    .home-img img {
        width: 100%;
        height: 100%;
        object-fit: c;
    }
}
@media (max-width: 1490px){
    :root{
        --h1-font: 3rem;
    }
    .home-img{
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 1180px){
    .social{
        display: none;
    }
    section{
        padding: 70px 7%;
    }
    .home{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .home-text{
        order: 2;
        width: 100%;
    }
    .home-text p{
        width: 100%;
        max-width: 800px;
    }
    .home-img{
        height: 420px;
        width: 420px;
        margin: 20px auto;
    }
}
@media (max-width: 950px){
    .navlist a{
        margin: 0 15px;
    }
}

@media (max-width: 780px){
    header {
        padding: 13px 5%;
    }
    section{
        padding: 60px 5%;
    }
    #menu-icon{
        display: block;
        font-size: 43px;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 70PX 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all 0.5s ease-in-out;
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 22px 0px;
        font-size: 2rem;
    }
    .navlist.open{
        left: 0;
    }
}

@media (max-width: 530px){
    :root{
        --h1-font: 2.3rem;
    }
    .home-img{
        height: 400px;
        width: 400px;
        margin: 10px auto;
    }
}